<div>
    <p>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search Chat">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
    </p>

    <span *ngIf="tableData.length == 0">no data</span>
    <table *ngIf="tableData.length > 0" border="1">
        <tbody>
            <tr *ngFor="let row of tableData">
                <td>{{row.screenName}}</td>
                <td>{{row.message}}</td>
            </tr>
        </tbody>
    </table>
</div>