<div>
    <p>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search Name">
            <mat-icon matSuffix></mat-icon>
        </mat-form-field>
    </p>
    <mat-form-field appearance="fill">
        <mat-label>Chatters</mat-label>
        <mat-select>
            <mat-option *ngFor="let chat of Chaters" [value]="chat">
                {{chat}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Submit</button>
    </div>
</div>