<div>
    <p>
        <mat-form-field appearance="outline">
            <!-- <mat-label>Outline form field</mat-label> -->
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <button mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Action
    </button>

</div>
<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Primary</button>
    </div>
</section>